.login__form{
    background: $color;
    height: 1024vh;
    width: 100%;
    .login__card{
        background-color: transparent;
        background-clip: border-box; 
        border: transparent; 
        border-radius: none;
    }
}
